@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>


<address>
    <strong>Адрес: </strong> Казинца ...<br />
    <strong>Электронный адрес: </strong> <a href="mailto:hostel@mail.ru">hostel@mail.ru</a><br />
</address>