
@{
    ViewBag.Title = "Hostel";
}

<h2>Общежитие</h2>
@Html.ActionLink("Список комнат", "Index", "Rooms") | @Html.ActionLink("Список жильцов", "Index", "People") | @Html.ActionLink("Список свободных комнат", "FreeRooms", "People")
