
@{
    ViewBag.Title = "Hostel";
}

<h2>Общежитие</h2>
@Html.ActionLink("Комнаты", "Index", "Rooms") | @Html.ActionLink("Жильцы", "Index", "People") | @Html.ActionLink("Свободные места", "FreeRooms", "People")
