@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Рады приветствовать Вас на нашем сайте.</h2>
    <h3>Данный сайт позволит Вам управлять расселением жильцов по комнатам в общежитии</h3>
    <h3>Чтобы приступить к работе перейдите на вкладку Общежитие</h3>
</div>

